<div class="mobilenav">
    <div class="mobilenav__item">
        <button class="mobilenav__toggle" aria-controls="site-navigation">
            <span class="mobilenav__toggle__hamburger hamburger hamburger--emphatic-r">
                <span class="hamburger__box">
                    <span class="hamburger__inner"></span>
                </span>
            </span>
            <span class="mobilenav__buttontext">{{"Navigatie"|t}}</span>
        </button>
    </div>
</div>