{% if settings is not defined %}
    {% set settings = [] %}
{% endif %}

{% set contentBuilderBlocks = entry.contentBuilder.with(['textImage:image', 'images:images']).collect() %}

<div class="container">

{% for block in contentBuilderBlocks %}

        {% if block.bgColor != null %}
                {% set bgColor = true %}
        {% else %}
                {% set bgColor = false %}
        {% endif %}

        {% if settings.container is defined %}
                <div class="{{ settings.container }} {% if bgColor %}container--light{% endif %}">
        {% endif %}

                {% if settings.row is defined %}
                        <div class="{{ settings.row }}">
                {% endif %}

                        {% if settings.col is defined %}
                                <div class="{{ settings.col }}">
                        {% endif %}

                                    {% include '_snippets/_content/_blocks/_'~block.type.handle with { settings: settings} %}

                        {% if settings.col is defined %}
                                </div>
                        {% endif %}

                {% if settings.row is defined %}
                        </div>
                {% endif %}

        {% if settings.container is defined %}
            </div>
        {% endif %}
{% endfor %}

</div>
