{% if settings is not defined %}
    {% set settings = [] %}
{% endif %}

{% set contentBuilderBlocks = entry.contentBuilder.with(['textImage:image', 'images:images']).collect() %}

{% if not contentBuilderBlocks|length %}
        <div class="container">
{% endif %}

{% if settings.container is defined %}
        <div class="{{ settings.container }}">
{% endif %}

        {% if settings.row is defined %}
                <div class="{{ settings.row }}">
        {% endif %}

                {% if settings.col is defined %}
                        <div class="{{ settings.col }}">
                {% endif %}

                        {% for block in contentBuilderBlocks %}
                            {% include '_snippets/_content/_blocks/_'~block.type.handle with { settings: settings} %}
                        {% endfor %}

                {% if settings.col is defined %}
                        </div>
                {% endif %}

        {% if settings.row is defined %}
                </div>
        {% endif %}

{% if settings.container is defined %}
    </div>
{% endif %}

{% if not contentBuilderBlocks|length %}
        </div>
{% endif %}
