{% set myEntryQuery = craft.entries().section('about').level('2') %}
{% set entries = myEntryQuery.all() %}

{% set relatedAssets = entry.bannerImage.all() %}

<div class="container">
	<div class="row">
		<div class="col-full">
			<div class="team-category--cardgrid">

				<h1>Under construction</h1>

			</div>

		</div>
	</div>
</div>
