/.env
/.idea
/vendor
.DS_Store

/config/firebase_credentials.json

/public/files/*
/public/images/*
/node_modules/*

/public/assets/*
/public/js
/public/js/main/*
/public/css/*

/storage/config-backups
/storage/composer-backups

/templates/_head/_head-assets.twig

/translations

*.crt


