{% extends '_layout.twig' %}

{% set breadcrumbs = [
    entry
] %}

{% set services = craft.entries().section('services').with(['image']).collect() %}

{% block content %}

    {% include "_snippets/_hero/_hero.twig" %}

    <div class="container">
        <div class="row row-center row-grid">
            {% set even = services|length is divisible by(2) %}
            {% for item in services %}
                <div class="{% if even %} col-md-6 col-lg-3 {% else %} col-md-8 col-lg-4 {% endif %}">
                    {% include '_snippets/_components/_card.twig'
                        with { useFallback: true, buttonText: "Meer info"|t }%}
                </div>
            {% endfor %}
        </div>
    </div>

    {% include '_snippets/_content/_contentBuilder.twig' with {
        settings: {
            container: 'container--small',
            row: 'row',
            col: 'col-full'
        }
    } %}

{% endblock %}