<div class="container">
    <div class="row">
        <div class="col-full">
            <h1>Wanneer het niet ons team of doelgroepen zijn wordt hier een Titel met tekstblok weergeven vanuit het CMS
            </h1>
        </div>
    </div>
</div>