{% set targetGroupsCat = craft.categories.group('targetGroups').all() %}

{% block content %}

	{% for item in targetGroupsCat %}
		<div class="textblock-container">
			<div class="row">
				<div class="col-full">
					<div class="textblock-content">
						<div class="textblock-body textblock-large">
							<div class="textblock-headline">
								<h1 class="leading contrast-element">
									{{ item.title }}
								</h1>
							</div>
							<div class="textblock-text">
								<p>
									{{ item.description }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

{% endblock %}
