<div class="banner-container banner-primary">
	<div class="banner">
		<div class="banner-body">
			<div class="banner-home-info">
				<div>
					<div class="banner-headline">
						<h1 class="banner-leading home-leading">
							{{ entry.title }}
						</h1>
					</div>
					<div class="banner-text home-text">
						<p>
							{{ entry.bannerIntro}}
						</p>
					</div>
				</div>
			</div>
			{{ include('_components/_banner/_partials/_bottom.html.twig') }}
		</div>
	</div>
</div>
