{% set reviews = block.reviews.collect() %}

{% if block.bgColor != null %}
{% set bgColor = true %}
{% else %}
{% set bgColor = false %}
{% endif %}

<div class="reviews container{% if bgColor %} container--light{% endif %}">
    {% if block.blockTitle|length or block.redactor|length %}
    <div class="row">
        <div class="col-full">
            <div class="leading leading--center">
                {% if block.blockTitle|length %}
                <h2 class="h2 leading__section">{{block.blockTitle}}</h2>
                {% endif %}

                {% if block.redactor|length %}
                {{block.redactor}}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row row-grid">
        {% for review in reviews %}
        <div class="col-md-5 {% if loop.index == 2 %}col-md-offset-1{% endif %}">
            {% include '_snippets/_components/_review.twig' %}
        </div>
        {% endfor %}
    </div>
</div>