<div class="to-top">
    <button class="button button--to-top" aria-labelledby="back-to-top">
        {{ svg('@webroot/assets/icons/arrow-upp.svg') }}
        <span class="visually-hidden" id="back-to-top">Back to top</span>
    </button>
</div>