<div class="banner-home-first">

	<div class="banner-buttongroup banner-first-top">

{#		{% set ctas = entry.ctas.all() %}#}

{#		{% for cta in ctas %}#}

{#			{{ cta.cta.getLink() }}#}

{#		{% endfor %}#}
	</div>


	<div class="banner-first-bottom ">

{#		{% set ctablocks = entry.ctaTitle.all() %}#}

{#		{% for cta in ctablocks %}#}

{#			<h4 class="home-h4">#}
{#				{{ cta.blockTitle }}#}
{#			</h4>#}

{#			{{ cta.blockLink.getLink() }}#}

{#		{% endfor %}#}


	</div>

</div>

