<div class="banner-home-second">
		<div class="gallery">
{#		{% set galleryCtas = entry.imgCta.all() %}#}

{#		{% for item in galleryCtas %}#}
{#		<div class="gallery-item">#}
{#				<div class="gallery-item-img-container">#}
{#					<img class="gallery-img" src="{{ item.blockImg.one().getUrl() }}" alt="">#}
{#				</div>#}
{#				<a class="button button-secondary-outline" href="{{ item.blockCta.getUrl() }}" target="{{ item.blockCta.getTarget() }}">#}
{#					{{ item.blockCta.getText() }}#}
{#				</a>#}
{#			</div>#}
{#			#}
{#		{% endfor %}#}

			
		</div>
	</div>