{% extends '_layout.html.twig' %}
{% block content %}
	<main>
		<div class="container">
			<div class="row">
				<div class="col-full">
					<h1>
						Default HTML styling page
					</h1>
					<br>
					<br>
						<p></p>
						<h1 id="headings">
							Default headings
						</h1>
						<h1>
							Heading 1
						</h1>
						<h2>
							Heading 2
						</h2>
						<h3>
							Heading 3
						</h3>
						<h4>
							Heading 4
						</h4>
						<h5>
							Heading 5
						</h5>
						<h6>
							Heading 6
						</h6>
						<hr/>
						<h1 id="headings-with-text">
							Headings with Text
						</h1>
						<h1>
							Heading 1
						</h1>
						<p>
							Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam.
							                        Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at
							                        tincidunt nec, gravida vehicula, nisl.
						</p>
						<h2>
							Heading 2
						</h2>
						<p>
							Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam.
							                        Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at
							                        tincidunt nec, gravida vehicula, nisl.
						</p>
						<h3>
							Heading 3
						</h3>
						<p>
							Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam.
							                        Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at
							                        tincidunt nec, gravida vehicula, nisl.
						</p>
						<h4>
							Heading 4
						</h4>
						<p>
							Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam.
							                        Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at
							                        tincidunt nec, gravida vehicula, nisl.
						</p>
						<h5>
							Heading 5
						</h5>
						<p>
							Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam.
							                        Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at
							                        tincidunt nec, gravida vehicula, nisl.
						</p>
						<h6>
							Heading 6
						</h6>
						<p>
							Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam.
							                        Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at
							                        tincidunt nec, gravida vehicula, nisl.
						</p>
						<hr/>
						<h1 id="text-block">
							Block Elements
						</h1>
						<h2 id="paragraph">
							Paragraphs and Images
						</h2>
						<p>
							Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam.
							                        Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at
							                        tincidunt nec, gravida vehicula, nisl.
						</p>
						<p>
							Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam.
							                        Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at
							                        tincidunt nec, gravida vehicula, nisl.
						</p>
						<p>
							<img title="A title element for this placeholder image." src="http://placehold.it/350x150" alt="Placeholder Image and Some Alt Text"/>
						</p>
						<p>
							Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam.
							                        Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at
							                        tincidunt nec, gravida vehicula, nisl.
						</p>
						<h2>
							Blockquote
						</h2>
						<p>
							This is a standard paragraph. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
						</p>
						<blockquote>
							"
							<strong>
								This is a blockquote.
							</strong>
							Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam.
							                        Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at
							                        tincidunt nec, gravida vehicula, nisl."
						</blockquote>
						<p>
							This is a standard paragraph. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
						</p>
						<hr/>
						<h1 id="text-elements">
							Text Elements
						</h1>
						<p>
							The
							<a href="#">
								a element
							</a>
							and
							<a href="http://example.com" target="_blank" rel="noopener">
								external a element
							</a>
							examples
						</p>
						<p>
							The
							<abbr>
								abbr element
							</abbr>
							and an
							<abbr title="Abbreviation">
								abbr
							</abbr>
							element with title examples
						</p>
						<p>
							The
							<acronym title="A Cowboy Ran One New York Marathon">
								ACRONYM
							</acronym>
							element example
						</p>
						<p>
							The
							<strong>
								b element
							</strong>
							example
						</p>
						<p>
							The
							<cite>
								cite element
							</cite>
							example
						</p>
						<p>
							The
							<code>
								code element
							</code>
							example
						</p>
						<p>
							The data element example
						</p>
						<p>
							The
							<del>
								del element
							</del>
							example
						</p>
						<p>
							The
							<dfn>
								dfn element
							</dfn>
							and
							<dfn title="Title text">
								dfn element with title
							</dfn>
							examples
						</p>
						<p>
							The
							<em>
								em element
							</em>
							example
						</p>
						<p>
							The
							<em>
								i element
							</em>
							example
						</p>
						<p>
							The
							<ins>
								ins element
							</ins>
							example
						</p>
						<p>
							The
							<kbd>
								kbd element
							</kbd>
							example
						</p>
						<p>
							The
							<mark>
								mark element
							</mark>
							example
						</p>
						<p>
							The
							<q>
								q element
							</q>
							example
						</p>
						<p>
							The
							<q>
								q element
								<q>
									inside
								</q>
								a q element
							</q>
							example
						</p>
						<p>
							The
							<s>
								s element
							</s>
							example
						</p>
						<p>
							The
							<samp>
								samp element
							</samp>
							example
						</p>
						<p>
							The
							<small>
								small element
							</small>
							example
						</p>
						<p>
							The span element example
						</p>
						<p>
							The
							<strong>
								strong element
							</strong>
							example
						</p>
						<p>
							The
							<sub>
								sub element
							</sub>
							example
						</p>
						<p>
							The
							<sup>
								sup element
							</sup>
							example
						</p>
						<p>
							The
							<time datetime="2005-05-15 19:00">
								time element
							</time>
							example
						</p>
						<p>
							The
							<u>
								u element
							</u>
							example
						</p>
						<p>
							The
							<var>
								var element
							</var>
							example
						</p>
						<hr/>
						<h1 id="monospace">
							Monospace / Preformatted
						</h1>
						<p>
							Code block wrapped in "pre" and "code" tags
						</p>
						<pre><code>// Loop through Divs using Javascript.
                            var divs = document.querySelectorAll('div'), i;
                            for (i = 0; i &lt; divs.length; ++i) {
                            divs[i].style.color = "green";
                            }</code></pre>
						<p>
							Monospace Text wrapped in "pre" tags
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est.
							                        Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero
							                        nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
						</p>
						<hr/>
						<h1 id="list_types">
							List Types
						</h1>
						<h2>
							Ordered List
						</h2>
						<ol>
							<li>
								List Item 1
							</li>
							<li>
								List Item 2
							</li>
							<li>
								List Item 3
								<ol>
									<li>
										List Item 3.1
									</li>
									<li>
										List Item 3.2
										<ol>
											<li>
												List Item 3.2.1
											</li>
											<li>
												List Item 3.2.2
											</li>
										</ol>
									</li>
									<li>
										List Item 3.3
									</li>
								</ol>
							</li>
							<li>
								List Item 4
							</li>
						</ol>
						<h2>
							Unordered List
						</h2>
						<ul>
							<li>
								List Item 1
							</li>
							<li>
								List Item 2
							</li>
							<li>
								List Item 3
								<ul>
									<li>
										List Item 3.1
									</li>
									<li>
										List Item 3.2
										<ul>
											<li>
												List Item 3.2.1
											</li>
											<li>
												List Item 3.2.2
											</li>
										</ul>
									</li>
									<li>
										List Item 3.3
									</li>
								</ul>
							</li>
							<li>
								List Item 4
							</li>
						</ul>
						<h2>
							Definition List
						</h2>
						<dl>
							<dt>
								Definition Term 1
							</dt>
							<dd>
								Definition Description 1
							</dd>
							<dt>
								Definition Term 2
							</dt>
							<dd>
								Definition Description 2
							</dd>
						</dl>
						<hr/>
						<h1 id="tables">
							Tables
						</h1>
						<table cellspacing="0" cellpadding="0">
							<caption>
								This is a table caption
							</caption>
							<thead>
								<tr>
									<th>
										Table Header 1
									</th>
									<th>
										Table Header 2
									</th>
									<th>
										Table Header 3
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										Division 1
									</td>
									<td>
										Division 2
									</td>
									<td>
										Division 3
									</td>
								</tr>
								<tr class="even">
									<td>
										Division 1
									</td>
									<td>
										Division 2
									</td>
									<td>
										Division 3
									</td>
								</tr>
								<tr>
									<td>
										Division 1
									</td>
									<td>
										Division 2
									</td>
									<td>
										Division 3
									</td>
								</tr>
								<tr>
									<td colspan="3">
										A row with a cell spanning all 3 columns
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th>
										Table Footer 1
									</th>
									<th>
										Table Footer 2
									</th>
									<th>
										Table Footer 3
									</th>
								</tr>
							</tfoot>
						</table>
						<hr/>
						<h1 id="form_elements">
							Media and Form Elements
						</h1>
						<h2>
							Media
						</h2>
						<h3>
							The Audio Element:
						</h3>
						<p>
							<audio controls="controls">
								<source src="http://www.w3schools.com/tags/horse.ogg" type="audio/ogg"/>
								<source src="http://www.w3schools.com/tags/horse.mp3" type="audio/mpeg"/>
								Your browser does not support the audio element.
							</audio>
						</p>
						<h3>
							The Video Element:
						</h3>
						<p>
							<video controls="controls" width="320" height="240">
								<source src="http://www.w3schools.com/tags/movie.mp4" type="video/mp4"/>
								<source src="http://www.w3schools.com/tags/movie.ogg" type="video/ogg"/>
								Your browser does not support the video tag.
							</video>
						</p>
						<h3>
							Embedded content:
						</h3>
						<p>
							YouTube video (iframe):
						</p>
						<p>
							<div class="notification notification-warning">
								<p>
									Helaas, je hebt de cookies voor het tonen van externe inhoud niet aanvaard. Wil je toch
									                            weten wat hier te zien is? Pas dan je voorkeuren aan in onze cookieverklaring.
								</p>
							</div>
						</p>
						<h2>
							Form Elements
						</h2>
						<p>
							The Fieldset:
						</p>
						<fieldset>
							<legend>
								Legend
							</legend>
							<p>
								The Form:
							</p>
							<form>
								<p>
									<label for="text_field">
										Text Field:
									</label>
									<br/>
									<input id="text_field" type="text"/>
								</p>
								<p>
									<label for="text_field_disabled">
										Disabled Text Field:
									</label>
									<br/>
									<input id="text_field_disabled" disabled="disabled" type="text" value="I'm disabled"/>
								</p>
								<p>
									<label for="text_field_readonly">
										Readonly Text Field:
									</label>
									<br/>
									<input id="text_field_readonly" readonly="readonly" type="text" value="I'm readonly"/>
								</p>
								<p>
									<label for="text_area">
										Text Area:
									</label>
									<br/>
									<textarea id="text_area"></textarea>
								</p>
								<p>
									<label for="text_area_disabled">
										Disabled Text Area:
									</label>
									<br/>
									<textarea id="text_area_disabled" disabled="disabled">
										I'm disabled
									</textarea>
								</p>
								<p>
									<label for="text_area">
										Readonly Text Area:
									</label>
									<br/>
									<textarea id="text_area" readonly="readonly">
										I'm readonly
									</textarea>
								</p>
								<p>
									<label for="select_element">
										Select Element:
									</label>
									<br/>
									<select id="select_element">
										<optgroup label="Option Group 1">
											<option value="1">
												Option 1
											</option>
											<option value="2">
												Option 2
											</option>
										</optgroup>
										<optgroup label="Option Group 2">
											<option value="1">
												Option 1
											</option>
											<option value="2">
												Option 2
											</option>
											<option disabled="disabled" value="3">
												Disabled Option
											</option>
										</optgroup>
									</select>
								</p>
								<p>
									<label for="select_element_disabled">
										Disabled Select Element:
									</label>
									<br/>
									<select id="select_element_disabled" disabled="disabled">
										<option value="1">
											Unselectable Option
										</option>
										<option value="2">
											This option should not even be seen
										</option>
									</select>
								</p>
								<p>
									Radio Buttons:
									<br/>
									<label>
										<input class="radio" name="radio_button" type="radio" value="radio_1"/>
										Radio 1
									</label>
									<br/>
									<label>
										<input class="radio" name="radio_button" type="radio" value="radio_2"/>
										Radio 2
									</label>
									<br/>
									<label>
										<input class="radio" name="radio_button" type="radio" value="radio_3"/>
										Radio 3
									</label>
									<br/>
									<label>
										<input class="radio" disabled="disabled" name="radio_button" type="radio" value="radio_4"/>
										Radio Disabled
									</label>
								</p>
								<p>
									Checkboxes:
									<br/>
									<label>
										<input class="checkbox" name="checkboxes" type="checkbox" value="check_1"/>
										Checkbox 1
									</label>
									<br/>
									<label>
										<input class="checkbox" name="checkboxes" type="checkbox" value="check_2"/>
										Checkbox 2
									</label>
									<br/>
									<label>
										<input class="checkbox" name="checkboxes" type="checkbox" value="check_3"/>
										Checkbox 3
									</label>
									<br/>
									<label>
										<input class="checkbox" disabled="disabled" name="checkboxes" type="checkbox" value="check_4"/>
										Checkbox Disabled
									</label>
								</p>
								<p>
									<label for="password">
										Password:
									</label>
									<br/>
									<input id="password" class="password" type="password"/>
								</p>
								<p>
									<label for="file">
										File Input:
									</label>
									<br/>
									<input id="file" class="file" type="file"/>
								</p>
								<h3>
									HTML5-specific Form Elements
								</h3>
								<p>
									<label for="email">
										Email:
									</label>
									<br/>
									<input id="email" type="email"/>
								</p>
								<p>
									<label for="url">
										URL:
									</label>
									<br/>
									<input id="url" type="url"/>
								</p>
								<p>
									<label for="tel">
										Telephone:
									</label>
									<br/>
									<input id="tel" type="tel"/>
								</p>
								<p>
									<label for="number">
										Number:
									</label>
									<br/>
									<input id="number" max="10" min="0" step="1" type="number" value="5"/>
								</p>
								<p>
									<label for="search">
										Search:
									</label>
									<br/>
									<input id="search" type="search"/>
								</p>
								<p>
									<label for="date">
										Date:
									</label>
									<br/>
									<input id="date" type="date"/>
								</p>
								<p>
									<label for="time">
										Time:
									</label>
									<br/>
									<input id="time" type="time"/>
								</p>
								<p>
									<label for="color">
										Color:
									</label>
									<br/>
									<input id="color" type="color"/>
								</p>
								<p>
									<label for="datalist">
										Datalist:
									</label>
									<br/>
									<input id="datalist" list="browsers" name="browser" type="datalist"/>
									<datalist id="browsers">
										<option value="Internet Explorer"></option>
										<option value="Firefox"></option>
										<option value="Chrome"></option>
										<option value="Opera"></option>
										<option value="Safari"></option>
									</datalist>
								</p>
								<p>
									<label for="range">
										Range:
									</label>
									<br/>
									<input id="range" max="10" min="1" name="points" type="range"/>
								</p>
								<p>
									<label for="output">
										Output:
									</label>
									<br/>
									<output id="output" name="result">
										42
									</output>
								</p>
								<p>
									<label for="progress">
										Progress:
									</label>
									<br/>
									<progress id="progress" value="65" max="100">
								</p>
							</progress>
						</p>
						<p>
							<label for="meter">
								Meter:
							</label>
							<br/>
							<meter id="meter" value="350" min="200" max="500">
								350 degrees
							</meter>
						</p>
						<p>
							<button type="button">
								Button Element
							</button>
							<input type="reset" value="Clear"/>
							<input type="submit" value="Submit"/>
						</p>
					</form>
				</fieldset>
			</div>
		</div>
	</div>
</main>{% endblock %}
