{% extends '_layout.twig' %}

{% set breadcrumbs = [
    entry
] %}

{% set jobs = craft.entries.section('jobs').collect() %}

{% block content %}

    {% include "_snippets/_hero/_hero.twig" %}

    {% if jobs|length %}
        <div class="container container--light">
            <div class="row row-grid">
                {% for item in jobs %}
                    <div class="col-md-6 col-lg-4">
                        {% include "_snippets/_components/_card.twig" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-full">
                    {{ "Momenteel zijn er geen vacatures binnen onze organisatie"|t }}
                </div>
            </div>
        </div>
    {% endif %}

    {% include '_snippets/_content/_contentBuilder.twig' with {
        settings: {
            container: 'container--small',
            row: 'row',
            col: 'col-full'
        }
    } %}

{% endblock %}