<div class="site-footer">
	{{ include('/_components/_footer/_partials/_footer.html.twig') }}
	{{ include('/_components/_footer/_partials/_sponsors.html.twig')}}
	{{ include('/_components/_footer/_partials/_credits-footer.html.twig') }}
</div>
