

<div class="form">
    <h1 > Aanmelden bij &nbsp;
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="65.361" height="57.973" viewBox="0 0 65.361 57.973">
  <defs>
    <style>
      .cls-1 {
        fill: none;
      }

      .cls-2 {
        clip-path: url(#clip-path);
      }

      .cls-3 {
        fill: #005294;
      }

      .cls-4 {
        fill: #fb9800;
      }
    </style>
    <clipPath id="clip-path">
      <rect id="Rectangle_526" data-name="Rectangle 526" class="cls-1" width="65.361" height="57.973"/>
    </clipPath>
  </defs>
  <g id="Group_1002" data-name="Group 1002" class="cls-2">
    <path id="Path_992" data-name="Path 992" class="cls-3" d="M26.14,42.641c-5.006-1.375-10.045.95-14.609,2.884-4.937,2.1-9.3,5.752-10.638,11.08L.825,58.352a2.471,2.471,0,0,0,.509,1.357l1.137,1.2.611.356L4.4,61.8a2.542,2.542,0,0,0,1.425.068l2.477-.628a30.749,30.749,0,0,0,17.1-11.555c2.477-3.326,4.462-8.026.9-11.369a8.959,8.959,0,0,0-4.649-1.883A2.445,2.445,0,0,0,20.575,41.2a7.243,7.243,0,0,0,2.409.39c1,1.7-.339,3.427-1.323,4.9a26.943,26.943,0,0,1-4.038,4.513c-2.375,2.375-5.345,3.53-8.331,4.734l-4.65,1.391,1.426.068-1.51-.7,1.1.814L5.2,56.706l.492,1.357.068-.611c.509-1.272.832-2.664,1.9-3.6a26.157,26.157,0,0,1,16.882-6.77c-.017.051-.017.1-.034.153a2.439,2.439,0,1,0,1.629-4.6" transform="translate(-0.452 -19.912)"/>
    <path id="Path_993" data-name="Path 993" class="cls-4" d="M55.766,72.891c-5.006-1.375-10.045.95-14.609,2.884-4.937,2.1-9.3,5.752-10.638,11.08L30.451,88.6a2.464,2.464,0,0,0,.509,1.357l1.137,1.2.611.356,1.323.526a2.546,2.546,0,0,0,1.425.068l2.477-.628a30.747,30.747,0,0,0,17.1-11.555c2.477-3.326,4.463-8.026.9-11.369a8.959,8.959,0,0,0-4.649-1.883A2.445,2.445,0,0,0,50.2,71.448a7.243,7.243,0,0,0,2.409.39c1,1.7-.339,3.427-1.323,4.9a26.944,26.944,0,0,1-4.038,4.513c-2.375,2.375-5.345,3.53-8.331,4.734l-4.649,1.391,1.425.068-1.51-.7,1.1.814-.458-.611.492,1.357.068-.611c.509-1.272.832-2.664,1.9-3.6a26.159,26.159,0,0,1,16.883-6.77c-.017.051-.017.1-.034.153a2.439,2.439,0,1,0,1.629-4.6" transform="translate(-16.673 -36.475)"/>
    <path id="Path_994" data-name="Path 994" class="cls-4" d="M77.846,80.775c-.458,5.718-1.68,11.572.221,17.205a4.752,4.752,0,0,0,2.29,2.647,2.445,2.445,0,0,0,2.783-4.022c-2.511-4.581-.56-10.129-.475-15.1a2.437,2.437,0,1,0-4.819-.73" transform="translate(-42.18 -43.088)"/>
    <path id="Path_995" data-name="Path 995" class="cls-3" d="M85.249,47.525c4.878,1.378,9.814-.538,14.486-2.3,3.541-1.354,6.764-2.924,10.084-4.53a2.442,2.442,0,1,0-2.077-4.421c-6.583,2.872-13.167,7.006-20.6,6.74a2.447,2.447,0,0,0-1.9,4.512" transform="translate(-45.858 -19.732)"/>
    <path id="Path_996" data-name="Path 996" class="cls-3" d="M104.364,58.442c-1.951-3.478-1.315-7.678-1.216-11.481a33.556,33.556,0,0,1,2.4-12.089,151.369,151.369,0,0,1,9.318-18.834,2.259,2.259,0,0,0-3.959-2.177c-4.468,8.1-9.162,15.991-11.312,25.366a35.733,35.733,0,0,0-1.018,7.748c-.014,4.737-.735,10.11,2.192,14.21a2.259,2.259,0,1,0,3.591-2.743" transform="translate(-53.928 -6.945)"/>
    <path id="Path_997" data-name="Path 997" class="cls-3" d="M26.578,40.85c8.809-1.047,14.578-8.8,16.472-17.279A123.206,123.206,0,0,0,46.175,2.334a2.263,2.263,0,0,0-4.525-.142,100.844,100.844,0,0,1-4.326,24.758c-2.22,4.61-6,8.866-11.368,9.431a2.256,2.256,0,1,0,.622,4.468" transform="translate(-13.145 0)"/>
    <path id="Path_998" data-name="Path 998" class="cls-3" d="M0,107.107a2.262,2.262,0,1,0,2.262-2.262A2.269,2.269,0,0,0,0,107.107" transform="translate(0 -57.406)"/>
    <path id="Path_999" data-name="Path 999" class="cls-4" d="M85,27.107a2.262,2.262,0,1,0,2.262-2.262A2.269,2.269,0,0,0,85,27.107" transform="translate(-46.54 -13.603)"/>
    <path id="Path_1000" data-name="Path 1000" class="cls-3" d="M133.5,116.107a2.262,2.262,0,1,0,2.262-2.262,2.269,2.269,0,0,0-2.262,2.262" transform="translate(-73.096 -62.334)"/>
  </g>
</svg>
 </h1>   
    <form>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="naam@email.com">
        </div>
           <div class="form-group">
            <label for="wachtwoord">Wachtwoord</label>
            <input type="password" id="password" name="password" placeholder="......">
        </div>
        <button class="form-btn" type="submit">Aanmelden</button>
        <div class="form-link">
    <span>Heb je nog geen account?</span> <a href="">Contacteer ons</a>
    </div>
    </form>
    
</div>