{% extends '_layout.twig' %}

{% set entry = craft.entries.section('pageNotFound').one() %}
{% set breadcrumbs = [entry] %}

{% block content %}

    {% include "_snippets/_hero/_hero.twig" %}

    <div class="container">
        {% include '_snippets/_content/_contentBuilder.twig' with {
            settings: {
                container: 'container',
                row: 'row',
                col: 'col-full'
            }
        } %}
    </div>

{% endblock %}