.cta-block {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;

    border-radius: 2rem;

    position: relative;

    z-index: 99;

    &.cta--primary-light {
        background-color: $color-primary-lightest;
    }
    &.cta--secondary-light {
        background-color: $color-secondary-lightest;
    }

    @include mq(md) {
        padding-top: 6rem;
        padding-bottom: 6rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    &.cta-block-light{
        background-color: $color-primary-lightest;
    }

    @include mq(lg) {
        display: flex;
        flex-direction: row-reverse;
        // justify-content: space-evenly;
        // align-items: flex-start;
    }
}

.cta-content-only{
    margin-left:auto;
    margin-right:auto;
}

.cta-content {
    width: 100%;

    @include mq(lg) {
        width: 50%;
        margin-left: 6rem;
    }
}

.cta-media {
    width: 100%;

    img {
        width: 100%;
        height: auto;
        border-radius: 2rem;
    }
    @include mq(lg) {
        width: 50%;
    }
}

.cta-button {
    margin-top: 3rem;
    margin-bottom: 6rem;

    @include mq(lg){
        margin-bottom: 0;
    }
}
