.target-audience--heading {
    // margin-top: 3rem;
    margin-bottom: 3rem;
}

.target-audience--cardgrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 3rem;

    @include mq(lg) {
        justify-content: flex-start;
    }
}

.target-audience--cardgrid-item {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 23rem;
    max-width: 38rem;
 
    text-decoration: none;

    @include mq(700) {
        width: 50%;
        padding-right: 3rem;
    }

    @include mq(lg) {
        width: 33.33%;
    }
}

.target-audience--card-content {
    width: 100%;

    padding-left: 3rem;
    padding-right: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 2px solid $offwhite;
    border-radius: 2rem;

    &:hover,
    :focus {
        border-color: $color-primary;
        transform: scale(1.1);
        cursor: pointer;
    }

    &:active {
        border-color: $color-primary-light;
        background-color: $color-primary-darkest;
        cursor: pointer;
    }
}

.target-audience--card-target-headline {
    margin-bottom: 0;
}

.target-audience--card-image {
    width: 7rem;
    height: 7rem;
    margin-bottom: 3rem;
}

.target-audience--card-text {
    width: 100%;
}
.target-audience--card-leading {
    font-size: 1.7rem;
    color: #0067a8;
    letter-spacing: normal;
    word-break: break-word;

    margin-bottom: 0;
}

.icon1 {
    background-image: url("/front/images/svg/babypeuters.svg");
}
