.team-category--heading {
    // margin-top: 3rem;
    margin-bottom: 3rem;
}

.team-category--cardgrid {
    @include mq(md) {
        display: flex;
        flex-flow: row wrap;
    }
}

.team-category--cardgrid-item {
    display: flex;
    flex-direction: column;

    text-decoration: none;
    width: 100%;
    // max-width: 38rem;
    max-width: 55rem;

    margin-bottom: 3rem;
    :last-child {
        margin-bottom: 0;
    }

    cursor: pointer;

    &:hover .team-category-card-line-animation {
        width: 100%;
        background-color: #57c5dc;
        transition: 0.5s;
    }

    @include mq(md) {
        width: 50%;
        padding-right: 3rem;

        box-sizing: border-box;
    }

    @include mq(lg) {
        width: 33.33%;
    }
}

.team-category--card-image {
    width: 100%;
    max-width: 60rem;
    // height: 16rem;
    margin-bottom: 1.6rem;

    img {
        width: 100%;
        border-radius: 2rem;
    }

    // .banner-media img {
    //     border-radius: 2rem;
    // }
}

.team-category--card-text {
    width: 100%;
    color: #0067a8;
    margin-bottom: 1.5rem;
}

.team-category--card-leading {
    font-size: 1.7rem;
    color: #0067a8;
}

.team-category--card-image:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

.team-category--line {
    width: 100%;
    display: flex;
    align-items: center;
}

.team-category--card-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border-color: #57c5dc;
    border-style: solid;
    border-width: 3px;
}

.team-category--card-line {
    height: 3px;
    background-color: #0067a8;
    width: 100%;
    border-radius: 100px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.team-category-card-line-animation {
    height: 100%;
    width: 0%;
    background-color: #57c5dc;
}
