/// Tables

.table {
    max-width: 100%;
    margin-bottom: $vertical-spacing;

    td, th {
        padding: $spacing-small / 2;

        &:first-child {
            padding-left: $spacing-small;
        }

        &:last-child {
            padding-right: $spacing-small;
        }
    }

    th {
        font-weight: 600;
        color: $color-text;
        background-color:  rgba($color-secondary, 0.1);
        text-transform: none;
        font-size: $font-size;
    }

    tfoot {
        td,th {
            border-top: 1px solid $color-secondary-lightest;
        }
    }

    td + th,
    th + td,
    td + td,
    th + th {
        //border-left: 1px solid $border-color;
    }

    abbr[title] {
        text-decoration: none;
    }

    @include mq(lg) {
        td, th {
            padding: $spacing-small;
        }
    }
}

.table-small {
    td, th {
        padding: $spacing-small / 8;
    }
}

.table-primary {
    background-color: $color-primary-lightest;
}

.table-align-middle {
    td, th {
        vertical-align: middle;
    }
}


.table-bordered {
    th {
        background-color: transparent;
    }

    tr {
        
    }
    
    tr + tr {
        border-top: 1px solid rgba($color-subsidiary-light, 0.4);
    }

    thead {
        th {

        }

        th + th {

        }
    }

    tbody, tfoot {
        tr:nth-child(odd) {
            td, th {
            }
        }     
        tr:nth-child(even) {
            td, th {
            }
        }     
    }   

    td + th,
    th + td,
    td + td,
    th + th {
        border-left: 0;
    }
}

.table-striped {
    border-bottom: 2px solid rgba($color-secondary-light, 0.4);

    th {
        background-color: transparent;
    }

    tr {

        &:first-child {

        }
    }

    thead {
        th {
            background-color: rgba($color-secondary, 0.1);

        }

        th + th {

        }
    }

    tbody, tfoot {
        tr:nth-child(even) {
            td, th {
                background-color: rgba($color-secondary-light, 0.1);
            }
        }     
        tr:nth-child(odd) {
            td, th {
                background-color: rgba($white, 0.75);
            }
        }     
    }   

    td + th,
    th + td,
    td + td,
    th + th {
        border-left: 0;
    }
}

.table-full {
    width: 100%;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    margin-bottom: $vertical-spacing;

    > table {
        margin-bottom: 0;
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 14px;
        height: 14px;
    }

    &::-webkit-scrollbar-thumb {
        border: 3px solid $white;
        background-color: $color-subsidiary-lightest;
    }
}