.textblock-container {
    .textblock-content {
        @include mq(lg) {
            display: flex;
        }
    }

    .textblock-body {
        @include mq(lg) {
            width: 60%;
            margin-right: 3rem;
        }
    }

    .textblock-media {
        max-width: 440px;
        height: 300px;

        img {
            width: 100%;
            border-radius: 20px;
        }

        // @include mq(lg) {
        //     width: 40%;
        // }
    }
}

// .textblock-headline {
//     &::before {
//         content: "";
//         position: absolute;
//         width: 60px;
//         height: 60px;
//         top: -1.8rem;
//         left: -1.9rem;
//         border-radius: 100px;
//         background-color: $color-tertiary;
//         opacity: 0.4;

//         z-index: -1;
//     }
// }

.textblock-text {
    margin-bottom: 3rem;
}
