@use '../settings/global' as *;

/// mq() - media query manager
/// @see vendor/mq
/// @link https://github.com/sass-mq/sass-mq
$mq-breakpoints: $breakpoints;
$mq-base-font-size: 16px; // don't change! 16px is the default font size of all major browsers
$mq-show-breakpoints: ();