<div class="banner-container">
    <div class="banner">
{#        {% include "_snippets/_global/_partials/_contact.twig" %}#}
        {% include "_snippets/_global/_partials/_social.twig"
        with {
        'smallIcons': true
        }

        %}
    </div>
</div>