{% set topNav = craft.navigate.raw('topNav') %}

<div class="banner-container">
    <div class="banner">
        {% if topNav|length %}
            {% include '_snippets/_navigation/_topnav.twig' %}
        {% endif %}
    </div>
</div>