{% set socialMedia = craft.app.globals().getSetByHandle('socialMedia') %}
{% set centers = contactDetails.centers.collect() %}

<footer class="site-footer">
    <div class="footer-container contrast-element">
        <div class="footersections">
            <a class="footersection__logo" href="/">
                <img src="assets/logo/company_logo.png" alt="logo cardat">
            </a>
            <div class="footersection footersection__socials">
                {% include '_snippets/_global/_partials/_social.twig' %}
            </div>
            {% for center in centers %}
                <div class="footersection footersection-address">
                    {% include '_snippets/_global/_partials/_address.twig' %}
                </div>
            {% endfor %}
             <div class="footersection footersection-navigation">
                {% include '_snippets/_navigation/_footernav.twig' %}
            </div>
        </div>
    </div>

    {% include '_snippets/_global/_sponsors.twig' %}

    {% include '_snippets/_global/_credits.twig' %}
</footer>