{% set links = entry.externLinks.all() %}

{% if links|length %}

	<div class="container">
		<div class="row">
			<div class="col-full">
				<div class="links-content">
					<div class="links-headline">
						<h4 class="links-leading">
							Hardcoded Title
						</h4>
					</div>
					<nav class="links-contentlist">
						<ul class="list-clear">

							{% for item in links %}
								<li class="links-listitem">
									<img class="link-icon" src="/front/images/svg/icons/links-icon.svg" alt="links icon">
									<a href="{{ item.urlLink }}" target="_blank" class="links-item icon">
										{{ item.urlLink }}
									</a>
								</li>
							{% endfor %}

						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
{% endif %}
