{% set pdfFiles = entry.pdf %}

{% if pdfFiles|length %}

	{% set pdf = pdfFiles.all() %}

	<div class="container">
		<div class="row">
			<div class="col-full">
				<div class="links-content">
					<div class="links-headline">
						<h4 class="links-leading">
							Hardcoded Title
						</h4>
					</div>
					<nav class="links-contentlist">
						<ul class="list-clear">

							{% for item in pdf %}
								<li class="links-listitem">
									<img class="link-icon" src="/front/images/svg/icons/pdf-icon.svg" alt="pdf document icon">
									<a href="" class="links-item icon">
										{{ item.title }}.pdf
									</a>
								</li>
							{% endfor %}

						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

{% endif %}
{# {% endif %} #}

{# {% set pdfLinks = craft.assets().volume('pdf').kind('pdf') %} #}
{# {% set  = craft.entry.section %} #}

{# {% set pdf = entry.pdf.all() %} #}
{# {% set pdf = pdfLinks.all() %} #}
