<div class="textblock-container">
	<div class="row">
		<div class="col-full">
			<div class="textblock-content">
				<div class="textblock-body textblock-large">
					<div class="textblock-headline">
						<h1 class="leading contrast-element">
							{{ block.ttiTitle }}
						</h1>
					</div>
					<div class="textblock-text">
						<p>
							{{ block.ttiTextblock }}
						</p>
					</div>
					<div
						class="textblock-media">
						{# <img src="{{ image.getUrl() }}" alt="{{ image.title }}"> #}
						<img src="/front/images/images/vacature.jpg" alt="vacature afbeelding"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
